/**
 * Layout - Footer
 */

.footer {
  padding: space("x-large") space("medium");
  @include background($theme-accent);
  border-block-start: 1px solid rgba(map-get($theme-colors, "lightest"), 0.15);
  text-align: center;
}
